=0.4.0
40.zip:Zone.Identifier
40/LIST
40/LIST:Zone.Identifier
40/meta.json
40/meta.json:Zone.Identifier
40/model.bin
40/model.bin:Zone.Identifier
40/model.txt
40/model.txt:Zone.Identifier
40/README
40/README:Zone.Identifier
40.zip
cc.en.100.vec
